<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="primary" routerLink="/about">
    About
  </ion-button>

  <ion-button color="primary" (click)="toAbout()">
    About by Ts
  </ion-button>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-label>Search</ion-label>
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
